body {
    min-width: 100%;
    min-height: 100vh;
    position: relative;
    background-image: linear-gradient(
        #db7773 0%,
        #db7773 20%,
        #d4595b 20%,
        #d4595b 40%,
        #c51c2b 40%,
        #c51c2b 60%,
        #dfb4a3 60%,
        #dfb4a3 80%,
        #e2968b 80%,
        #e2968b 100%
    );
    background-size: cover;
    background-attachment: scroll;
    scroll-behavior: smooth;
}

.main_box {
    width: 50%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 15px;
	border-style: solid;
	border-width: 2px;
	border-color: black;
}

section {
    padding: 60px 60px;
}