body {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-image: linear-gradient(
        45deg,
        #db7773 0%,
        #db7773 20%,
        #d4595b 20%,
        #d4595b 40%,
        #c51c2b 40%,
        #c51c2b 60%,
        #dfb4a3 60%,
        #dfb4a3 80%,
        #e2968b 80%,
        #e2968b 100%
    );
    background-size: cover;
    background-attachment: scroll;
    scroll-behavior: smooth;
}

.main_box {
    background-color: #ffffff;
    width: 60%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 0;
}

section {
    padding: 60px 60px;
}