body {
    background-image: linear-gradient(
        #db7773 0%,
        #db7773 20%,
        #d4595b 20%,
        #d4595b 40%,
        #c51c2b 40%,
        #c51c2b 60%,
        #dfb4a3 60%,
        #dfb4a3 80%,
        #e2968b 80%,
        #e2968b 100%
    );
    background-size: cover;
    background-attachment: scroll;
    scroll-behavior: smooth;
    min-width: 1150px;
}

.wrapper {
    width: min(300px, 100% - 3rem);
    margin-inline: auto;
}

.main_box {
    width: 50%;
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 15px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

section {
    padding: 60px 60px;
}